<h1>User profile</h1>

<table>
  <th>
    <tr>
      <td>Name</td>
      <td>Role</td>
    </tr>
  </th>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.is_admin? == true %>
          <td>admin</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>